---
import BaseLayout from "../layouts/BaseLayout.astro";
import BackgroundGlow from "../components/BackgroundGlow.astro";
---

<BaseLayout>
  <BackgroundGlow />

  <main
    class="relative z-10 min-h-screen flex flex-col items-center justify-center px-6 py-10"
  >
    <div id="app"></div>
  </main>
</BaseLayout>

<script>
  import "../scripts/app";
</script>
